<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Projetos - FeCEAP 2020</title>
    <link href="https://fonts.googleapis.com/css2?family=Kufam:wght@400;600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body id="page-projects">
    <div id="container">
        <header>
            <a href="/">
                <img id="logo" src="/FeCEAP-logoAlef2.svg" alt="FeCEAP-logo">
    
            </a>
            <nav>
                <li><a href="/">Início</a></li>
                <li><a href="#" class="button" onclick="onOff()">Novo Projeto</a></li>
            </nav>
        </header>
    
        <section id="title"> 
            <p>em exibição</p>
            <h1>Projetos</h1>
        </section>
    
        <main>
                <div class="project">
                    <img src="{{projeto.icon_url}}" alt="freefire-icon">
                
                    <div class="content">
                        <h3>{{projeto.nome_projeto}}</h3>
                        <p>{{projeto.categoria}}</p>
    
                        <div class="description">
                            {{projeto.descricao_projeto}}
                        </div>
                    </div>
                </div>
        </main>
    
        <footer>
            Com ❤️ <a href="https://ceappedreira.org.br/" target="_blank">CEAP</a>
        </footer>
    </div>
</body>
</html>